body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
}
.title{
    font-size: 30px; /*tamanho da letra*/
    font-weight: bold;
}

.move-icon{
    height: 50px;
}

.move-button{
    background-color: transparent;
    border: 3px solid white; /*when we use border the first value is the border width, the second value is the border style (we can use also the dotted or dashed) and the third value is the border color*/
    width: 120px;
    height: 120px;
    border-radius: 60px; /*we normally use the border radius half of the height/width*/
    margin: 5px;
    cursor: pointer;
}
.result{
    font-size: 25px; /*tamanho da letra*/
    font-weight: bold;
    margin-top: 50px;
}
.score{
    margin-top: 60px;
}
.reset-score-button,
.auto-play-button{
    border: none;
    background-color: white;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
}